html,
body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 0.875em; /*14px*/
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  /* border: 1px solid red; */
}

/* ID SELECTOR */
#container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 384px;
  padding: 2.5em; /*40px*/
}

/* CLASS SELECTORS */
.hero-img {
  width: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}
