html,
body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 0.875em; /*14px*/
}

body {
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  /* border: 1px solid red; */
}

h1,
h2,
p {
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  margin: 0 0 8px 0;
}

h2 {
  color: hsl(75, 94%, 57%);
  font-size: 14px;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 24px 0px;
}

/* ID SELECTOR */
#container {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 12%);
  border-radius: 12px;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 384px;
  padding: 40px;
}

/* CLASS SELECTORS */
.hero-img {
  width: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.btn {
  align-items: stretch;
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding: 12px;
}

.btn:hover {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
  color: hsl(0, 0%, 8%);
}

/* MEDIA QUERY FOR MOBILE */
@media (max-width: 600px) {
  #container {
    min-width: 327px;
    padding: 24px;
  }
}
